@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

html{
    min-height: 100%;
}

body{
    background: radial-gradient(circle at 10% 20%, rgb(182, 4, 4) 0%, rgb(39, 170, 255) 90%);
    color: white;
    font-family: 'Poppins';
    font-size: x-large;
}
#headDiv{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Poppins';
    font-size: 22px !important;
    margin-top: 20px;

}
#mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#openingLineDiv{
    display: flex;
    justify-content: center;
}
p{
   
    text-align: center;
}
#formDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    margin-bottom: 3%;

    

}

form{
    display: flex;
    flex-direction: column;
    align-content: center;

}
label{
    margin-right: 20px;
}
#styleDiv{
    background-color: rgba(237, 236, 247, 0.364);
    border-radius: 15px;
    font-weight: 800;
    ;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 10%;
}
#userInput{
    border: rgb(125, 4, 103);
    border-radius: 3px;
  
    
}

button{
/* CSS */
  background-color: rgb(182, 9, 9);
  border: 0;
  box-shadow: rgba(1,60,136,.5) 0 -1px 3px 0 inset,rgba(0,44,97,.1) 0 3px 6px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inherit;
  font-family: "Space Grotesk",-apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  min-height: 56px;
  min-width: 120px;
  padding: 16px 20px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

button {
  background-color: (125, 4, 103);
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button{
    padding: 16px 44px;
  }
}

#myError{
    color: white(160, 20, 20);
    font-weight: 800;
}
#buttonDiv{
   
    margin-top: 5vh;
    margin-left: 12%;
    align-content: center;
}
input, select, textarea{
    color: white;
    font-weight: 700;
    background-color:rgb(182, 9, 9);
    font-size: large;
    text-align: center;
    margin-left: 2vh;
    height: 50px;
    text-align: center;
}
 
::placeholder {
    color: white;
    font-size: large;
    text-align: center;
    opacity: 1; /* Firefox */
  }

  #openingLineDiv{
    margin-top: 50px;
  }
  h1{
    text-align: center;
  }
  #textInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }